/* Make the body full screen and center the .kis div */
body {
    height: 100vh;
    margin: 0;
    display: flex;
    justify-content: center; /* horizontal center */
    align-items: center;     /* vertical center */
    background: linear-gradient(to left, #ffffff, #ecaab676);
    font-family: Arial, sans-serif;
}

/* Style the form container */
.kis {
    background-color: #eedaccbb;
    padding: 20px 25px;
    border-radius: 10px;
    box-shadow: 0 4px 15px #824f2b(0,0,0,0.2);
    width: 350px;
    height: 350px;
    text-align: center;
    margin-right: -30rem;
    margin-top: -15rem;
}

/* Style inputs and textarea */
input[type="text"],
input[type="number"],
textarea {
    width: 340px;
    height: 260px;
    padding: 6px;
    margin-top: 4px;
    border: 1px solid #eedaccbb;
    border-radius: 5px;
    font-size: 14px;
    box-sizing: border-box;
    outline: none;
}

/* Style labels */
label {
    font-size: 14px;
    font-weight: bold;
   color: #824f2b;
}

/* Style button */
button {
    width: 100%;
    padding: 8px;
    margin-top: 10px;
    border: none;
    border-radius: 5px;
    background-color: #824f2b;
    color: white;
    font-size: 14px;
    cursor: pointer;
    transition: 0.3s;
}

button:hover {
    background-color: #824f2b;
}

.pop h2{
    margin-top: -24rem;
    position: relative;
    left: 366px;
    font-size: 2rem;
    color: #824f2b;
}