<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css">
   <link rel="stylesheet" href="{{ url_for('static', filename='hotline.css')}}">
    <image href="{{ url_for('static', filename='images/flower.png')}}">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://fonts.google.com/share?selection.family=Dancing+Script:wght@400..700|Lora:ital,wght@0,400..700;1,400..700|Montserrat:ital,wght@0,100..900;1,100..900">

<style>
      body{ 
        height: 200vh;
        width: 205vh;
        margin:0;
        background: #eac6d257;
    }
</style>
</head>
<body>





<header>
    <input type="checkbox" name="" id="toggler">
    <label for="toggler" class="fas fa-bars"></label>
    <a href="#" class="logo">WSOFI<span></span></a>
    <nav class = "navbar">
        <a href="index.html">Home</a>
        <a href="#contact">Hotline</a>
    </nav>
</header>

<section class = "app3" id = "app3">
        <div class = "app3">
            <h3>Hotline numbers</h3>
        </div>
    </section>



    
<div class="app-block">
  <h2>Kazakhstan</h2>


  <ul>
    <li>Police: #102 </li>
    <li>Fire: #101</li>
    <li>Ambulance: #103</li>
    
  </ul>

</div>













<div class="usa">
  <h2>The USA</h2>


  <ul>
    <li>Police: #911 </li>
    <li>Fire: #911 </li>
    <li>Ambulance: #911 </li>

  </ul>
</div>




<div class="ind">
  <h2>India</h2>


  <ul>
    <li>Police: #100</li>
    <li>Ambulance: #102</li>
    <li>Fire: #101</li>
    
  </ul>


</div>











<div class="row">
  <div class="empty"></div> 
  
  <div class="paks">
    <h2>Pakistan</h2>


    <ul>
   <li>Police: #15</li>
    <li>Ambulance: #1122</li>
    <li>Fire: #16</li>

    </ul>


  </div>

  <div class="empty"></div> <!-- right empty space -->
</div>







<div class="saud">
  <h2>Saudi Arabia</h2>


   <ul>
   <li>Police: #999</li>
    <li>Ambulance: #997</li>
    <li>Fire: #998</li>

    </ul>


</div>


<div class="rus">
  <h2>Russia</h2>


   <ul>
   <li>Police: #2</li>
    <li>Ambulance: #3</li>
    <li>Fire: #1</li>

    </ul>


</div>












































</body>