<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='homepage.css')}}">
    <img href="{{ url_for('static', filename='images/flower.png')}}">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://fonts.google.com/share?selection.family=Dancing+Script:wght@400..700|Lora:ital,wght@0,400..700;1,400..700|Montserrat:ital,wght@0,100..900;1,100..900">
 <style>
    
body {
    margin: 0;
    min-height: 110vh;
    background: #eac6d257;
    font-family: 'Montserrat', sans-serif;
    color: #824f2b;
}
</style>

</head>


<body>


<div class="stock-ticker">
    <ul>
        <li>
            <span class="hotline">Hotline</span>
        </li>
    </ul>
</div>

    
<header>

    
    <input type="checkbox" name="" id="toggler">
    <label for="toggler" class="fas fa-bars"></label>
    <a href="#" class="logo">WSOFI<span></span></a>
    <nav class = "navbar">
        <a href="index.html">Home</a>
        <a href="hotline.html">Hotline</a>
    </nav>
</header>

<section class = "home" id = "home">
        <div class = "content">
            
        </div>
    </section>


<section class = "text" id = "text">
        <div class = "text">
            <h3>Experiencing harassing outside?</h3>
            <a href="/tools"><button class = "popa">Tools</button></a>
        </div>
    </section>


<section class = "a" id = "a">
        <div class = "a">
            <h3>Want to share your bad experience?</h3>
            <a href="/expform"><button class = "butto">Share</button></a>
            <a href="/experience"><button class = "buttoo">View</button></a>
        </div>
    </section>


    <section class = "b" id = "b">
        <div class = "b">
            <h3>Leave reviews of the locations near you</h3>
             <a href="/form"><button class = "butt2">Submit</button></a>
              <a href="/users"><button class = "buttoon">View</button></a>
        </div>
    </section>


  <section class = "c" id = "c">
        <div class = "c">
            <h3>Other resources that you might get help from</h3>
            <a href="/websites"><button class = "butt3">Websites</button></a>
            <a href="/apps"><button class = "butt4">Apps</button></a>
        </div>
    </section>





<footer>
    <div class="footer-container">
        <div class="footer-col">
            
            <a href="#">Home</a>
            <a href="#">Hotline</a>
        </div>
        <div class="footer-col">
            
            <a href="#">Terms of Use</a>
            <a href="#">Copyright</a>
        </div>
        <div class="footer-col">
    
        
            <p>About</p>
            <p>Company Address: 123 Main St, City</p>
        </div>
    </div>
</footer>
















</body>